/* {
    box-sizing: border-box;
}
 
.wrapper{
    background-color: bisque;
    width:700px;
    /*grid properties*/
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-gap:5px */
    grid-template-areas: 
    "d1 d2"
    "d3 d4"
    ""
    ;
   
}
.wrapper div{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
 
.wrapper div:nth-child(1){
    background-color: coral;
    margin-bottom: 5px;
}
.wrapper div:nth-child(2){
    background-color: cadetblue;
    grid-column: 2/4;
    grid-row:1/3;
}
.wrapper div:nth-child(3){
    background-color: limegreen;
}
 
.wrapper div:nth-child(4){
    background-color: coral;
}
 
.wrapper div:nth-child(5){
    background-color: cadetblue;
}
 
.wrapper div:nth-child(6){
    background-color: limegreen;
}

@media screen and (min-width: 700px){
 .wrapper { 
    display: grid;
    grid-template-columns: repeat(3, ifr);
    grid-template-areas: 
    "d1 d2 d2"
    "d1 d6 d4"
    "d5 d3 d3" ;

 }

}
    

/*  grid-template-areas: 
    "d1 d2 d2"
    "d1 d6 d4"
    "d5 d3 d3"; */ */