.parent {

 width: 700px;
 height: 700px;
 background-color: bisque;
 /* start flex parent   */
 display: flex;
 flex-direction:column;
 flex-wrap: wrap;
 justify-content: space-around;
 align-items: center;

}
.box {
color: aliceblue;
/* line-height: 150px;
text-align: center; */
font-size: 30px;
width: 150px;
height: 150px;
/* justify-content: center;
align-items: center; */
}
.parent .box:nth-child(1) {
    /* flex-grow: 1; */
    flex-basis: 150px;
    background-color: coral;
}
.parent .box:nth-child(2) {
    justify-content: left;
    align-items:center;
    display: flex;
    background-color: blueviolet;
    /* flex-grow: 1; */
    order: 1;
}
.parent .box:nth-child(3) {
    order: 1;
    background-color: cadetblue;

}
.parent .box:nth-child(4) {

    background-color: darkgreen;
    order: 1;

}